<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adaugare joc</title>
    <%- include("../fragmente/head.ejs");  %>
</head>
<body>
    <header>
        <%- include("../fragmente/header.ejs");  %> 
    </header>
    <main>
        <% if(locals.eroare){%>
            <h1>locals.eroare</h1>

        <%} else{%>
        <h1>Pagina de adaugare a unui joc</h1>
        <form id="form_adaugare"  method="post" action="/adaugat"  enctype="multipart/form-data">
            <p>
                <label>
                    Nume: <input type="text" name="nume" required>
                </label>
            </p>
            <p>
                <label>
                    Descriere: <input type="text" name="descriere"   required>
                </label>
            </p>
            <p>
                <label>
                    Pret: <input type="number" required  name="pret" >
                </label>
            </p>
            <p>
                <label >
                    Scor: <input type="number" required  name="scor" >
                </label>
            </p>
            <p>
                <label>
                    Tip:  <select name="tip" id="sel_tip">
                        <%for(let tip of locals.tipuri){%>
                        <option value="<%-tip.unnest%>"><%-tip.unnest%></option>
                        <%}%>
                        </select>
                    </label>
            </p>
            <p>
                <label>
                    Categorie:  <select name="categ" id="sel_categ">
                        <%for(let categ of locals.categorii){%>
                        <option value="<%-categ.unnest%>"><%-categ.unnest%></option>
                        <%}%>
                        </select>
                    </label>
            </p>
            <!-- <p>
                <label>
                    Caracteristici:  <select name="carac" id="sel_carac" multiple>
                        <for(let carac of locals.caracteristici){%>
                        <option value="<-carac.unnest%>"><-carac.unnest%></option>
                        <}%>
                        </select>
                    </label>
            </p> -->
            <p>
                <label>
                    Producator: <input type="text" required  name="producator" >
                </label>
            </p>
            <p>
                <label>
                    Pentru copii: <select name="pt_copii" id="sel_copii"><option value="true">Da</option><option value="false">Nu</option></select>
                </label>
            </p>
            <p>
                <label>
                    Poza: 
                    <input type="file" name="imagine">
                </label>			
            </p>
            <!-- <p>
                <label>
                    Data lansare: <input type="date" required  name="data_lansare" value="<- locals.joc.data_lansare.toLocaleDateString("ro-Ro").replaceAll('.','-').split("-").reverse().join("-")%>">
                </label>
            </p> -->
            <p>		
                <input type="submit" value="Trimite">
                <input type="reset" value="Reseteaza">
            </p>
        </form>
        <%}%>
    </main>
        <%- include("../fragmente/footer.ejs");  %> 
</body>
</html>