<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../fragmente/head.ejs");  %> 
    <title>Facturi</title>
    <style>
        main{
            padding: 10px;
            font-size: larger;
        }
    </style>
</head>
<body>
    <%- include("../fragmente/header.ejs");  %> 
    <main>
        <% for(let factura of locals.facturi){
        %>
        <details>
            <summary>
                <%- factura.nume%> <%- factura.prenume%> - <%- factura.data.toLocaleDateString('ro-RO') %>
            </summary>
            <% for (let produs of factura.produse){
            %>
            <p>Nume: <%-produs.nume%>, pret:<%-produs.pret%>, cantitate: <%-produs.cantitate%></p>
            <%}%>
        </details>
        <%
        }
        %>
    </main>
    <%- include("../fragmente/footer.ejs");  %> 
</body>
</html>