<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("../fragmente/head.ejs");  %> 
    <title>For the Gamers</title>
</head>
<body>
    <%- include("../fragmente/header.ejs");  %>
    <section>
        <h2>Pagină produs</h2>
            <article id="art-produs">
                <h3><span class="nume"><%- locals.prod.nume %></span></h3>
                <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                <p>Descriere: <span class="descriere"><%- locals.prod.descriere %> </span></p>
                <p>Caracteristici: <span class="ingrediente"><%- locals.prod.caracteristici %> </span></p>
                <p>Scor: <span class="calorii"><%- locals.prod.scor %> </span></p>
                <p>Producator: <span class="gramaj"><%- locals.prod.producator %> </span></p>
                <p>Categorie: <span class="categorie"><%- locals.prod.categorie %> </span></p>
                <p>Pentru copii: <span class="pt_diabetici"><%- locals.prod.pt_copii %> </span></p>
                <p>Data lansare: <span class="categorie"><%- locals.prod.data_lansare %> </span></p>
                <figure class="imag-produs">
                    <img  src="/Resurse/images/produse/<%- locals.prod.imagine %>" alt="[imagine <%- locals.prod.nume %>]" />
                </figure>    
            </article>
        
    </section>
    <%- include("../fragmente/footer.ejs");  %>
</body>
</html>