<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Profil</title>
		<%- include("../fragmente/head") %>
		<script>

			// populez inputurile din pagina de profil cu datele din tabel (incarcate prin EJS)
			window.addEventListener("DOMContentLoaded", function(){
				document.getElementById("inp-username").value="<%= locals.utilizator.username %>";
				document.getElementById("inp-username").readOnly=true;
				document.getElementById("inp-nume").value="<%= locals.utilizator.nume %>";
				document.getElementById("inp-prenume").value="<%= locals.utilizator.prenume %>";
				document.getElementById("inp-email").value="<%= locals.utilizator.email %>";
				document.getElementById("p-reintrod").remove();
				var optiuni=document.getElementById("sel-culoare").options
				for (let opt of optiuni)
					if (opt.value=="<%= locals.utilizator.culoare_chat %>")
						opt.selected=true;
			});
		</script>
	</head>
	<body class="container">
			<%- include("../fragmente/header") %>
		<main>
			
				<h2 style="text-align:center">Profil</h2>
				<p><%= locals.raspuns %></p>
			
			<section id="profil">
			<div id="profil-formular">
				<h2>Schimbarea datelor contului</h2>
			<%- include("../fragmente/formular",{action:"/profil"}) %>
			</div>
			<div id="profil-stergere">
				<h2>Ștergerea contului</h2>
				<form action="/sterge_utiliz" enctype="multipart/form-data" method="post">
					<label>
						<input type="text" name="username" value="<%= locals.utilizator.username %>" hidden>
					</label>
					<label>
						<input type="text" name="email" value="<%= locals.utilizator.email %>" hidden>
					</label>
					<label>
						Parola: <input type="password" name="parola" required>
					</label>
					<input type="submit" value="Șterge cont">
				</form>
			</div>
			</section>
			<% if(locals.mesaj) {%> <%=locals.mesaj%> <%}%>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>