<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Profil</title>
		<%- include("../fragmente/head") %>
		<script>

			// populez inputurile din pagina de profil cu datele din tabel (incarcate prin EJS)
			window.addEventListener("DOMContentLoaded", function(){
				document.getElementById("inp-username").value="<%= locals.utilizator.username %>";
				document.getElementById("inp-username").readOnly=true;
				document.getElementById("inp-nume").value="<%= locals.utilizator.nume %>";
				document.getElementById("inp-prenume").value="<%= locals.utilizator.prenume %>";
				document.getElementById("inp-email").value="<%= locals.utilizator.email %>";
				document.getElementById("p-reintrod").remove();
				var optiuni=document.getElementById("sel-culoare").options
				for (let opt of optiuni)
					if (opt.value=="<%= locals.utilizator.culoare_chat %>")
						opt.selected=true;
			});
		</script>
	</head>
	<body class="container">
			<%- include("../fragmente/header") %>
		<main>
			
				<h2 style="text-align:center">Profil</h2>
				<p><%= locals.raspuns %></p>
			
			<section id="profil">
			<div id="profil-formular">
				<h2>Schimbarea datelor contului</h2>
			<%- include("../fragmente/formular",{action:"/profil"}) %>
			</div>
			<div id="profil-stergere">
				<h2>Ștergerea contului</h2>
				<form action="/sterge_utiliz" enctype="multipart/form-data" method="post">
					<label>
						<input type="text" name="username" value="<%= locals.utilizator.username %>" hidden>
					</label>
					<label>
						<input type="text" name="email" value="<%= locals.utilizator.email %>" hidden>
					</label>
					<label>
						Parola: <input type="password" name="parola" required>
					</label>
					<input type="submit" value="Șterge cont">
				</form>
				<h2>Modificarea Parolei</h2>
				<form action="/modifica_parola" enctype="multipart/form-data" method="post">
					<label>
						<input type="text" name="username" value="<%= locals.utilizator.username %>" hidden>
					</label>
					<label>
						<input type="text" name="email" value="<%= locals.utilizator.email %>" hidden>
					</label>
					<p><label>
						Parola actuală: <input type="password" name="parola_actuala" required>
					</label>
					</p>
					<p><label>
						Parola nouă: <input type="password" name="parola" required>
					</label>
					</p>
					<p><label>
						Confirmă parola nouă: <input type="password" name="parola_confirmare" required>
					</label>
					</p>
					<input type="submit" value="Modifica parola">
				</form>
			</div>
			</section>
			<% if(locals.mesaj) {%> <%=locals.mesaj%> <%}%>
		</main>

		<script>
			let cookie = getCookie('produs');
			if(cookie){
				let main = document.getElementsByTagName('main')[0];
				let divJoc = document.createElement('div');
				cookie = cookie.split('||');
				divJoc.innerHTML = `<p>Ultimul tau joc accesat este: <a style = 'color:lightgreen; text-decoration:underline' href = '${cookie[1]}'> ${cookie[0]}</a></p>`;
				main.appendChild(divJoc);
			}
		</script>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>