<header>
    <a id="inceput"></a>
    <!-- <div id="banner"></div> -->
    <figure id="banner"> 
      <picture>
          <source media="(min-width:1300px)" srcset="/Resurse/Logo/Logo2.png">
          <source media="(min-width:680px)" srcset="/Resurse/Logo/Logo3.png">
          <img src="/Resurse/Logo/Logo4.png" alt="Controller">
      </picture>
    </figure>
    <figure id="banner_print"> 
      <picture>
          <img src="/Resurse/images/banner.jpg" alt="Controller">
      </picture>
    </figure>
    <h1>For the Gamers </h1>
  </header>
  <input type="checkbox" id="menu-click" />
  <nav class="meniu" id="meniuu">
    <label for="menu-click" class="label-menu">
      <i class="fa-solid fa-bars" id="hamburger"></i>
    </label>
    <ul class="ul_meniu">
      <li id="acasa"><div>
          <a href="/"><i class="fa-solid fa-house"></i> Acasa</a>
      </div>
      <ul class="submeniu">
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s1"></i>
          <a href="/#Best">Open-source</a>
        </li>
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s2"></i>
          <a href="/#Contact">Contact</a>
        </li>
      </ul>
      </li>
      <li id="doar_casa"><div>
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </div>
      <ul class="submeniu">
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s1"></i>
          <a href="/#Best">Open-source</a>
        </li>
        <li>
          <i class="fa-solid fa-arrow-right-long sageata s2"></i>
          <a href="/#Contact">Contact</a>
        </li>
      </ul>
    </li>
      <li id="toate"><a href = "/produse">Jocuri</a>
        <ul class="toate-submeniu">
          <% for (let opt of locals.optiuniMeniu) { %>
            <li><i class="fa-solid fa-arrow-right-long sageata s1"></i><a href="/produse?categorie=<%-opt.unnest%>"> <%- opt.unnest %> </a></li>
        <% } %>
        </ul>
      </li>
      <li id="cont">
        <a <%if(!locals.utilizator) { %> href= "/inregistrare" <%}%>> <i class="fas fa-spinner fa-spin"></i>
        <% if(locals.utilizator){%>
          <%-locals.utilizator.prenume %> </a>
          <ul>
            <li>
              <!-- <i class="fa-solid fa-arrow-right-long sageata s1"></i> -->
              <a href="/profil">Profil</a>
            </li>
            <li>
              <!-- <i class="fa-solid fa-arrow-right-long sageata s2"></i> -->
              <a href="/logout">Log Out</a>
            </li>
          </ul>
          <%} 
          else {%>  Înregistrare </a><%}%>
        
      </li>
    </ul>
  </nav>
  <% if(!locals.utilizator) {%>
      <form id="form_inreg"  method="post" class="date"  action="/login"  enctype="multipart/form-data">
        <p>
            <label>
                Username: <input type="text" name="username" id="inp-username" value="prof<%= Math.floor(Math.random()*100000) %>" required pattern="[A-Za-z0-9]+">
            </label>
        </p>
        <p>
            <label>
                Parola: <input id="parl" type="password" required  name="parola" value="">
            </label>
        </p>
        <p><input type="submit" value="Log in"></p>
        </form>
        <% } else{ %>
          <div id="user">
            <p title="<%-locals.utilizator.nume%> <%-locals.utilizator.prenume%>">User: <%-locals.utilizator.username %></p>
            <button><a href="/logout">Log Out</a></button>
          </div>
          <%}%>